<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpyb6ozD9eNT-A9pYlf2VmTjqBpUvprmY</string>
	<key>GCM_SENDER_ID</key>
	<string>668729280139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lechat</string>
	<key>PROJECT_ID</key>
	<string>lechat-e6ada</string>
	<key>STORAGE_BUCKET</key>
	<string>lechat-e6ada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668729280139:ios:e4133de22b21ddebe1b68e</string>
</dict>
</plist>